<footer class="footer">
    <nav class="footer_nav">
        <ul class="footer_nav_list">
            <li class="footer_nav_list_element">
                <a class="footer_nav_list_element_link" href="https://github.com/mZubeldia">
                    <i class="fab fa-github footer-icon"></i>
                </a>
                
            </li>
            <li class="footer_nav_list_element">
                <a class="footer_nav_list_element_link" href="https://www.linkedin.com/in/mzubeldia/?locale=en_US">
                    <i class="fab fa-linkedin footer-icon"></i>
                </a>
            </li>
            <li class="footer_nav_list_element">
                <a class="footer_nav_list_element_link" href="https://twitter.com/mzubeldia_?t=UDrBzqSr2B3km6DUkOOtEA&s=09">
                    <i class="fab fa-twitter-square footer-icon"></i>
                </a>
            </li>
        </ul>
    </nav>
        
</footer>
