<main class="main main_landing">
    <h2 class="main_text">
        <span class="main_text_span greeting">Hi there, I'm María</span>
        <span class="main_text_span job">a Frontend Developer</span>
    </h2>
    <aside class="aside">
        <nav class="aside">
            <ul class="aside_nav_list">
                <li class="aside_nav_list_element">
                    <a class="aside_nav_list_element_link" href="https://github.com/mZubeldia">
                        <i class="fab fa-github aside-icon"></i>
                    </a>
                    
                </li>
                <li class="aside_nav_list_element">
                    <a class="aside_nav_list_element_link" href="https://www.linkedin.com/in/mzubeldia/?locale=en_US">
                        <i class="fab fa-linkedin aside-icon"></i>
                    </a>
                </li>
                <li class="aside_nav_list_element">
                    <a class="aside_nav_list_element_link" href="https://twitter.com/mzubeldia_?t=UDrBzqSr2B3km6DUkOOtEA&s=09">
                        <i class="fab fa-twitter-square aside-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</main>
