/* 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
@media (min-width: 992px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

//POSIBLE NUEVA PALETA
#9a2381 - bordes y títulos
#f5f5f5 - fondo
#3a0c4c - header y footer
#d92586 - enlaces

old palette
  --main-bg-color: #f5f5f5;
  --main-title-color: #8c52ff;
  --main-subtitle-color: #b9a9ef;
  --regular-text-color: #9b95a8;

*/

:root {
  //colores
  --bg-color: #f5f5f5;
  --bg-header-footer-color: #3a0c4c;
  --border-title-color: #9a2381;
  --highlight-color: #d92586;

  //fuentes
  --main-title-font: "Hammersmith One", sans-serif;
  --regular-text-font: "Montserrat", sans-serif;

  font-family: var(--regular-text-font);
  color: var(--bg-header-footer-color);

  background: rgb(58, 12, 76);
  background: linear-gradient(
    0deg,
    rgba(58, 12, 76, 0.3029586834733894) 0%,
    rgba(245, 245, 245, 1) 100%
  );

  a:hover,
  a:active {
    text-decoration: none;
    color: var(--highlight-color);
  }

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
}

* {
  line-height: 1.7rem;
}

.page_title {
  text-align: center;
  align-self: center;
  width: 100vw;

  color: var(--border-title-color);
  font-family: var(--main-title-font);
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}
