.main_about {
    padding: 1.5rem;
}
.main_about_title {
    display: inline;
    
}

.wrapper_about {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about_subtitle {
    color: var(--main-title-color);
    font-family: var(--main-title-font);
    text-transform: uppercase;
}