.main.main_contact {
    flex-direction: column;
    padding: 5rem;
    align-items: center;
    

    background-color: var(--main-bg-color);
    font-family: var(--regular-text-font);
    color: var(--regular-text-color);

    @media (min-width: 768px) {
       justify-content: center;
     }
}

.contact_title {
    color: var(--main-title-color);
    font-family: var(--main-title-font);
    text-transform: uppercase;
    font-size: 2rem;
}
/*
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   // max-width: 60rem;
}*/
.form_contact {
    border-left: solid 3px var(--main-title-color);
    padding: 1rem;
    min-width: 30rem;
    //max-width: 60rem;
   
}

