/* 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/


.main {
  height: 70vh;
  background-color: lightgoldenrodyellow;

  display: flex;

  

  .main_text {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;

    justify-content: center;
    align-items: flex-start;

    @media (min-width: 768px) {
      padding-left: 12%;

     }

    .main_text_span {
      padding: 1rem;
    }

  }
}

.main_landing{
  justify-content: center;
  align-items: center;
}