//resets

/****** links *******/
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.main_projects {
    flex-direction: column;
    padding: 5rem;


    .card-image {
        //max-width: 250px;
    }
}