//resets

/****** links *******/
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.main_projects {
  background-color: var(--main-bg-color);
  font-family: var(--regular-text-font);
  color: var(--regular-text-color);


  flex-direction: column;
  padding: 5rem;

  .card-wrapper {
    border-left: solid 3px var(--main-title-color);
    padding: 1.5rem;
  }

    .card {
      //align-items: center;
    }
    .card-image {
     // width: 85%;
      align-self: center;
    }

    .card-link {
      color: var(--main-title-color);
      
    }
    .card-footer {
      display: flex;
      justify-content: space-around;
    }
}