.aside {
  padding: 0.8rem;
  opacity: 0.5;
  top: 11rem;
  right: 0;
  position: fixed;
  z-index: 1;

  @media (min-width: 1200px) {
    right: 1.2rem;
  }

  .aside-nav {
    .aside_nav_list_element {
      padding-bottom: 0.4rem;
      padding-top: 0.4rem;
      font-size: 2rem;
      color: var(--border-title-color);
      :hover {
        color: var(--highlight-color);
      }
      @media (min-width: 992px) {
        font-size: 2.3rem;
      }
    }
  }
}
