.footer {
  height: 10vh;

  border-top: solid 3px var(--border-title-color);
  background-color: var(--bg-header-footer-color);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--regular-text-font);
  color: var(--bg-color);

  .footer-link {
    color: var(--border-title-color);
  }
}
