.footer {
    height: 10vh;

    border-top: solid 3px var(--main-title-color);

}

.footer_nav {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    padding-top: 1.5rem;

    .footer_nav_list{
        display: flex;
        

        .footer_nav_list_element{
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }
}