
.aside {
    padding: 0.8rem;
    opacity: 0.5;
    right: 0;
    position: fixed;

    @media (min-width: 992px) {
        right: 3rem;
    }

    .aside-nav{
        //display: flex;

        //justify-content: center;
        //align-items: center;
    
        //width: 100%;
        //justify-content: center;

        .aside_nav_list_element{
            padding-bottom: 0.4rem;
            padding-top: 0.4rem;
            font-size: 2rem;
            color: var(--main-title-color);
            :hover {
                color: var(--regular-text-color);
            }
            @media (min-width: 992px) {
                font-size: 2.3rem;
                }
        }
    }

    .aside-icon {
        
        
        
        
       
    }
}