
.aside {
    padding: 0.8rem;
    opacity: 0.5;
    right: 0;
    position: absolute;


    .aside-nav{
        //display: flex;

        //justify-content: center;
        //align-items: center;
    
        //width: 100%;
        //justify-content: center;

        .aside_nav_list_element{
            padding-bottom: 0.4rem;
            padding-top: 0.4rem;
        
            @media (min-width: 992px) {
            //padding-bottom: 0.7rem;
            //padding-top: 0.7rem;
            }
        }
    }

    .aside-icon {
        font-size: 2rem;
        color: var(--main-title-color);
        @media (min-width: 992px) {
        font-size: 2.3rem;
        }
        
    }
}